langchain-community
faiss-cpu 
tiktoken
python-dotenv
pymupdf
sentence_transformers
langchain-huggingface
fastapi
uvicorn
groq
dotenv
pyngrok
deep-translator
chromadb
#for mcp
langchain-groq
langchain-mcp-adapters
mcp
langgraph 

fastapi_mcp